.Label {
    font-family: 'Tomorrow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 31px;
    text-align: center;
    color: #737BAE;
    opacity: 0.9;
}